<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress verbose SDK logging -->
    <logger name="com.azure" level="WARN"/>
    <logger name="software.amazon" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="reactor" level="WARN"/>

    <logger name="com.multiclouddb" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
